# Early Suicide Prediction
Dataset Description: Final Student Psychological Dataset This dataset is a curated collection focused on exploring the mental health status of students, with a particular emphasis on stress, depression, anxiety, and suicidal tendencies. It can be used for mental health risk prediction, early intervention modeling, and behavioral pattern analysis using machine learning techniques.

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Data

In [10]:
# # Download latest version
path = r"../Data/Early_Suicide_Prediction.zip" 

# loading the data
data= pd.read_csv(path)
data.head()

,Age,Gender,Stress Level,Academic Performance,Health Condition,Relationship Condition,Family Problem,Depression Level,Anxiety Level,Mental Support,Self Harm Story,Suicide Attempt
0,22,Female,Low,Good,Normal,In a relationship,NaN,Always,Always,Family,No,Never Thought
1,23,Male,High,Good,Fair,Single,NaN,Always,Often,loneliness,Yes,Attempted
2,19,Female,Moderate,Poor,Normal,Breakup,Parental conflict,Often,Often,Friends,Yes,Thought
3,18,Female,High,Average,Abnormal,Single,Financial,Always,Often,loneliness,Yes,Thought
4,19,Female,Low,Good,Fair,Single,NaN,Sometimes,Sometimes,Family,No,Never Thought

### Exploratory Data Analysis

##### Let check the data info

In [11]:
df=data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     1099 non-null   int64
 1   Gender                  1099 non-null   object
 2   Stress Level            1099 non-null   object
 3   Academic Performance    1099 non-null   object
 4   Health Condition        1099 non-null   object
 5   Relationship Condition  1099 non-null   object
 6   Family Problem          693 non-null    object
 7   Depression Level        1099 non-null   object
 8   Anxiety Level           1099 non-null   object
 9   Mental Support          1099 non-null   object
 10  Self Harm Story         1099 non-null   object
 11  Suicide Attempt         1099 non-null   object
dtypes: int64(1), object(11)
memory usage: 103.2+ KB

only one numerical column, the rest categories

In [ ]:
# let check numerical distribution
df.describe()

               Age
count  1099.000000
mean     22.657871
std       6.231228
min      18.000000
25%      21.000000
50%      22.000000
75%      23.000000
max     221.000000

Evenly spread

In [22]:
# let check for missing value
df.isna().sum()

Age                         0
Gender                      0
Stress Level                0
Academic Performance        0
Health Condition            0
Relationship Condition      0
Family Problem            406
Depression Level            0
Anxiety Level               0
Mental Support              0
Self Harm Story             0
Suicide Attempt             0
dtype: int64

Suggest filling NaN with 'No'. It looks like people without family problem leave it blank.

In [29]:
# checking for duplicated record
df.duplicated().sum()

np.int64(45)

Removal of duplicate is recommended

In [20]:
# check the class distributions
cat_col=df.select_dtypes(include='object').columns
for col in cat_col:
    print(df[col].value_counts())
    print("=="*30)
    print("")

Gender
Male      648
Female    451
Name: count, dtype: int64
============================================================

Stress Level
Low         468
Moderate    457
High        174
Name: count, dtype: int64
============================================================

Academic Performance
Good         366
Poor         283
Excellent    234
Average      216
Name: count, dtype: int64
============================================================

Health Condition
Normal      543
Fair        368
Abnormal    188
Name: count, dtype: int64
============================================================

Relationship Condition
In a relationship    413
Single               411
Breakup              275
Name: count, dtype: int64
============================================================

Family Problem
Financial            411
Parental conflict    282
Name: count, dtype: int64
============================================================

Depression Level
Sometimes    534
Often        370
Always       194
pf             1
Name: count, dtype: int64
============================================================

Anxiety Level
Sometimes    468
Often        465
Always       165
sometimes      1
Name: count, dtype: int64
============================================================

Mental Support
Friends       552
Family        286
loneliness    261
Name: count, dtype: int64
============================================================

Self Harm Story
No     891
Yes    208
Name: count, dtype: int64
============================================================

Suicide Attempt
Never Thought    610
Thought          338
Attempted        151
Name: count, dtype: int64
============================================================

From  the distrubition above the encoding will go this way